$color-white: #ffffff;
$color-black: #000000;

#app {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

// From: https://codepen.io/interaminense/pen/bpmzOY
.frame {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: $color-black;
  width: 100vw;
  height: 100vh;
  // opacity: 0;

  &.hidden {
    display: none;
  }
}

.load-circle {
  border-width: 1px;
  border-color: rgba($color-white, 0.2);
  border-top-color: rgba($color-white, 1);
  border-style: solid;
  border-radius: 50%;
  animation: circRotate 0.8s infinite linear;
  width: 32px;
  height: 32px;

  &.large {
    width: 64px;
    height: 64px;
    border-width: 4px;
  }
}

.progress {
  position: relative;
  height: 5px;
  width: 100%;
  max-width: 220px;
  background-color: rgba($color-white, 0.2);
  border-radius: 0.25rem;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--progress, 0);
    height: 100%;
    background-color: rgba($color-white, 1);
    transition: width ease-in-out .6s;
  }
}

@keyframes circRotate {
  to {
    transform: rotate(360deg);
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 24px 48px;
}
